
<% include header.ejs %>
<% include top.ejs %>
<link rel='stylesheet' href='/stylesheets/all-commodity.css' />

<!-- 头部 -->
<div class="top">
	<!-- 购物车标题 -->
	<div class="title">
		<h3>所有商品</h3>
	</div>
	<!-- 搜索框 -->
	<div class="input-group search">
	  <input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="搜索宝贝" id="cartInput">
	  <span class="input-group-addon" id="basic-addon2" onclick="searchCommodity()">搜索</span>
    <!-- <span class="input-group-addon" id="basic-addon2">搜索</span> -->
	</div>
</div>

<!-- 横线 -->
<div class="line">    
</div>

<!-- 展示所有商品 -->
<div class="content">
	<% for(var i in commodity){ if(!commodity[i].name) continue %>
	<div class="showProject">
      <a href="/good?name=<%= commodity[i].name %>">
          <div class="project_img">
              <img src="images/goods/<%= commodity[i].imgSrc[1] %>" width="200" height="200"/>
          </div>     
          <div class="project_info">
              <p><%= commodity[i].name %></p>
          </div>    
      </a>
    </div>
  <% } %>

  <!-- 分页 -->
  <div class="page">
    <a href="/all-commodity?page=1">首页</a>
    <a href="/all-commodity?page=<%= page-1 %>">上一页</a>
    <a href="#">总共有<%= pages %>页，当前为第<%= page %>页</a>
    <a href="/all-commodity?page=<%= page+1 %>">下一页</a>
    <a href="/all-commodity?page=<%= pages %>">尾页</a>
  </div>
</div>

<!-- 底部 -->
<div class = "footer">
  <p> 
     All Rights Reserved. xiaoting 版权所有
  </p>
</div>

<script src="/javascripts/search.js"></script>