
<% include header.ejs %>
<% include top.ejs %>
<link rel='stylesheet' href='/stylesheets/all-commodity.css' />

<!-- JS实现模糊查询 -->
<script type="text/javascript">
  function getByClass(sClass){
      var aResult=[];
      var aEle=document.getElementsByTagName('*');
      for(var i=0;i<aEle.length;i++){
         /*当className相等时添加到数组中*/
         if(aEle[i].className==sClass){
              aResult.push(aEle[i]);
          }
      }
      return aResult;
  };

  function search(){
      var showProject = getByClass("showProject");
      var input = document.getElementById("cartInput"); 
      var filter = input.value.toUpperCase();
      var length = showProject.length;
      for(i = 0; i<length; i++){
        var name = showProject[i].innerText;
        if(name){
           if(name.toUpperCase().indexOf(filter) > -1){
              showProject[i].style.display = "";
           }
           else{
              showProject[i].style.display = "none";
           }
        }     
      }
  }
</script>

<!-- 头部 -->
<div class="top">
	<!-- 购物车标题 -->
	<div class="title">
		<h3>所有商品</h3>
	</div>
	<!-- 搜索框 -->
	<div class="input-group search">
	  <input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="搜索宝贝" id="cartInput">
	  <span class="input-group-addon" id="basic-addon2" onclick="search()">搜索</span>
    <!-- <span class="input-group-addon" id="basic-addon2">搜索</span> -->
	</div>
</div>

<!-- 横线 -->
<div class="line">    
</div>

<!-- 展示所有商品 -->
<div class="content">
	<% for(var i in commodity){ if(!commodity[i].name) continue %>
	<div class="showProject">
      <a href="/good?name='<%= commodity[i].name %>'">
          <div class="project_img">
              <img src="images/goods/<%= commodity[i].imgSrc[1] %>" width="200" height="200"/>
          </div>     
          <div class="project_info">
              <p><%= commodity[i].name %></p>
          </div>    
      </a>
    </div>
  <% } %>

  <!-- 分页 -->
  <div class="page">
    <a href="/all-commodity?page=1">首页</a>
    <a href="/all-commodity?page=<%= page-1 %>">上一页</a>
    <a href="/all-commodity?page=<%= page+1 %>">下一页</a>
    <a href="/all-commodity?page=<%= pages %>">尾页</a>
  </div>
</div>

<!-- 底部 -->
<div class = "footer">
  <p> 
     All Rights Reserved. xiaoting 版权所有
  </p>
</div>