
<% include header.ejs %>
<% include top.ejs %>
<link rel='stylesheet' href='/stylesheets/cart.css' />

<!-- 头部 -->
<div class="top">
	<!-- 购物车标题 -->
	<div class="title">
		<h3>我的购物车</h3>
	</div>
	<!-- 搜索框 -->
	<div class="input-group search">
	  <input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="搜索宝贝" id="cartInput">
	  <span class="input-group-addon" id="basic-addon2" onclick="searchCart()">搜索</span>
	</div>
</div>

<!-- 横线 -->
<div class="line">    
</div>

<!-- 购物车内容 -->
<div class ="content">
  <% include alert.ejs %>
    <!-- 购物车的商品排列 -->
	<div class="cart">
		<table id="cartTable">
			<!-- 展示商品 -->
			<thead>
			  <tr>
				<th><label><input type="checkbox" class="check-all check">&nbsp;全选<label></th>
				<th>商品</th>
				<th>颜色</th>
				<th>单价</th>
				<th>数量</th>
				<th>小计</th>
				<th>操作</th>
			  </tr>
			</thead>
			<tbody>
			  <% for(var i in cart){ if(!cart[i].cId) continue %>
				<tr>
					<td><input type="checkbox" class="check-one check"></td>
					<td class="goods"><img src="images/goods/<%= cart[i].cImgSrc[0] %>" alt=""><span><%= cart[i].cName %></span></td>
					<td><%= cart[i].cColor %></td>
					<td class="price"><%= cart[i].cPrice %></td>
					<td class="count">
						<span class="reduce"></span>
						<input type="text" class="count-input" value="<%= cart[i].cQuantity %>">
						<span class="add">+</span>
					</td>
					<td class="subtoal"><%= cart[i].cPrice %></td>
					<td class="operation">
					<a href="/delCart/<%= cart[i]._id %>">删除</a>
					</td>
				</tr>
				<% } %>
				
			</tbody>
		</table>
	</div>
	<!-- 购物车的底部结算 -->
	<div class="foot" id="foot">
		<!-- 结算部分 -->
		<label class="fl select-all"><input type="checkbox" class="check-all check">&nbsp;全选</label>
		<a href="#" class="fl delete" id="deleteAll">删除已勾选商品</a>
		<div class="fr closing">结算</div>
		<div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
		<div class="fr selected" id="selected">已选商品
			<span id="selectedTotal">0</span>件
			<span class="arrow up">︽</span>
			<span class="arrow down">︾</span>
		</div>
		<div class="selected-view">
		 <!-- 弹层（预览浮层） -->
			<div id="selectedViewList" class="clearfix">
				<!-- <div><img src="images/1.jpg"><span>取消选择</span></div> -->
			</div>
			<span class="arrow">.<span>.</span></span>
		</div>
	</div>
</div>


<!-- 底部 -->
<div id="footer">
	<p> 
	  	All Rights Reserved. xiaoting 版权所有
	</p>
</div>

<script type="text/javascript" src="javascripts/cart.js"></script>
<script src="/javascripts/search.js"></script>
<script src="/javascripts/hideMessage.js"></script>