
<% include header.ejs %>
<% include top.ejs %>
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/good.css' />

<div id="goodshow">
    <!-- 左边商品图片 -->
    <div id="imags" style="overflow: visible">
        <!-- 大图 -->
        <div class="imgbox">
            <!-- 商品大图 -->
            <a class="smallimg" href="#">
                <img id="smallimg" alt="加载中..." src="images/goods/<%= commodity.imgSrc[0] %>">
            </a>
            <!--商品细节大图-->
            <div class="bigbox">
                <img id="bimg" alt="加载中..." src="images/goods/<%= commodity.imgSrc[0] %>">
            </div>
            <!--大图上的显示区域遮罩层-->
            <div id="layer">
            </div>
        </div>  
        <!--缩略图-->
        <div class="imgsbox">
            <ul id="imgslist">
                <li class="imglist selected">
                    <!-- 商品小图 -->
                    <img class="simg" alt="加载中..." src="images/goods/<%= commodity.imgSrc[0] %>">
                </li>
                <li class="imglist">
                    <!-- 商品小图 -->
                    <img class="simg" alt="加载中..." src="images/goods/<%= commodity.imgSrc[1] %>">
                </li>
                <li class="imglist">
                    <!-- 商品小图 -->
                    <img class="simg" alt="加载中..." src="images/goods/<%= commodity.imgSrc[2] %>">
                </li>
                <li class="imglist">
                    <!-- 商品小图 -->
                    <img class="simg" alt="加载中..." src="images/goods/<%= commodity.imgSrc[3] %>">
                </li>
                <li class="imglist">
                    <!-- 商品小图 -->
                    <img class="simg" alt="加载中..." src="images/goods/<%= commodity.imgSrc[4] %>">
                </li>
            </ul>
        </div>
    </div>
    <!-- 右边商品信息 -->
    <div id="imgtxt">
        <h2>
            <span class="price"><%= commodity.name %></span>
        </h2>
        <div class="goodinfo" style="font-size: 15px;">
           <%= commodity.info %>
        </div>
        <div class="goodinfo">
            <span class="price">价格</span>&nbsp;&nbsp;&nbsp;&nbsp;
            ￥<%= commodity.price %>
        </div>
        <div class="goodinfo">
            <span class="price">配送</span>&nbsp;&nbsp;&nbsp;&nbsp;包邮
        </div>
        <div class="goodinfo">
            <span class="price">颜色</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= commodity.color %>
        </div>
        <div class="goodinfo">
            <span class="price">数量</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= commodity.quantity %>
        </div>
        <div class="goodinfo" style="margin-top: 13px;">
            <a class="btn btngood" href="#">立即购买</a>
            <a class="btn btngood" href="/addToCart/<%= commodity._id %>">加入购物车</a>
            <a class="btn btngood" href="/addToCollect/<%= commodity._id %>">加入收藏</a>
        </div>
    </div>
</div>

<!--显示高清大图-->
<div id="showbigimg">
    <img src="images/goods/<%= commodity.imgSrc[0] %>" id="bigimg">
</div>

<!-- 商品详情和售后保障 -->
<div class="detail">
    <ul id="myTab" class="nav nav-tabs">
       <li class="active">
          <a href="#description" data-toggle="tab">商品详情</a> 
       </li>
       <li>
          <a href="#support" data-toggle="tab">售后保障</a>
       </li>
    </ul>
    <div id="myTabContent" class="tab-content">
       <div class="tab-pane fade in active" id="description">
            <img src="images/goods/<%= commodity.imgSrc[0] %>">
            <img src="images/goods/<%= commodity.imgSrc[1] %>">
            <img src="images/goods/<%= commodity.imgSrc[2] %>">
            <img src="images/goods/<%= commodity.imgSrc[3] %>">
       </div>
       <div class="tab-pane fade" id="support">
          <dl>
            <dt>
                <!-- <i class="goods"></i> -->
                <strong>厂家服务</strong>
            </dt>
            <dd>
                本产品全国联保，享受三包服务，质保期为：一年质保
                <br>
                如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7日内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务！
            </dd>
            <dt>
                <!-- <i class="goods"></i> -->
                <strong>本平台承诺</strong>
            </dt>
            <dd>
                MYFHONE平台销售并发货的商品，由平台提供发票和相应的售后服务。请您放心购买！
            </dd>
            <dt>
                <!-- <i class="goods"></i> -->
                <strong>正品行货</strong>
            </dt>
            <dd>
                MYFHONE平台向您保证所售商品均为正品行货，MYFHONE平台商品开具机打发票或电子发票。
            </dd>
            <dt>
                <!-- <i class="goods"></i> -->
                <strong>全国联保</strong>
            </dt>
            <dd>
                凭质保证书及京东商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由京东联系保修，享受法定三包售后服务），与您亲临MYFHONE平台选购的商品享受相同的质量保证。MYFHONE平台还为您提供具有竞争力的商品价格和运费政策，请您放心购买！ 
            </dd>
            <dt>
                <!-- <i class="goods"></i> -->
                <strong>无忧退换货</strong>
            </dt>
            <dd>
                客户购买MYFHONE平台商品7日内（含7日，自客户收到商品之日起计算），在保证商品完好的前提下，可无理由退货。（部分商品除外，详情请见各商品细则） 
            </dd>
          </dl>
       </div>
    </div>
</div>

<!-- 底部 -->
<div class = "footer">
  <p> 
    All Rights Reserved. xiaoting 版权所有
  </p>
</div>

<script type="text/javascript" src="javascripts/good.js"></script>

