
<% include header.ejs %>
<% include top.ejs %>
<link rel='stylesheet' href='/stylesheets/common.css' />

<div class="content">
    <div class="common">
        <% include alert.ejs %>
        <h1>修改商品信息</h1>
        <form action=""  role="form" method="post" enctype="multipart/form-data">
            <div class="field">
                <span>商品名称:</span>
                <input id="name" type="text" name="name" value="<%= commodity.name %>" placeholder="修改商品名称"/>
            </div>
            <div class="field">
                <span>商品描述:</span>
                <input style="margin-top: 30px;" id="info" name="info" value="<%= commodity.info %>" placeholder="修改商品描述"/>
            </div>
            <div class="field">
                <span>商品颜色:</span>
                <input style="margin-top: 30px;" id="color" name="color" value="<%= commodity.color %>" placeholder="修改商品颜色"/>
            </div>
            <div class="field">
                <span>商品价格:</span>
                <input style="margin-top: 30px;" id="price" name="price" value="<%= commodity.price %>" placeholder="修改商品价格"/>
            </div>
            <div class="field">
                <span>商品数量:</span>
                <input style="margin-top: 30px;" id="quantity" name="quantity" value="<%= commodity.quantity %>" placeholder="修改商品数量"/>
            </div>
            <div>
              <p><strong>请注意：</strong>图片大小不能大于400k，图片长宽必须相等，否则图片可能会失真
              </p>
              <div class="field1">
                  <input type="file" name="imgSrc">
              </div>
              <div class="field1">
                  <input type="file" name="imgSrc">
              </div>
              <div class="field1">
                  <input type="file" name="imgSrc">
              </div>
              <div class="field1">
                  <input type="file" name="imgSrc">
              </div>
              <div class="field1">
                  <input type="file" name="imgSrc">
              </div>
            </div>
            <input style="margin-top: 20px;width: 87%;margin-left: 20px;" type="submit" class="btn btn-success btn-block" value="修改" />
            <a href="/commodity-manage" class="btn btn-success btn-block" style="margin-top: 20px;width: 87%;margin-left: 20px;">返回商品管理</a>
        </form>
    </div>
</div>

<!-- 底部 -->
<div class = "footer">
  <p> 
    All Rights Reserved. xiaoting 版权所有
  </p>
</div>